.buttonName {
    grid-column: 3/6;
    grid-row: 3;
    height: 50px;
    align-self: center;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    border: 0px;
    cursor: pointer;
}

.blue {
    background-color: rgba(78, 130, 228, 0.836);
}

.blue:hover {
    background-color: rgb(78, 130, 228);
}

.green {
    background-color: rgba(46, 214, 122, 0.726);
}

.green:hover {
    background-color: rgb(46, 214, 122);
}

.purple {
    background-color: rgba(173, 49, 173, 0.808);
}

.purple:hover {
    background-color: rgb(173, 49, 173);
}