.divProfileCard {
    background-color: rgba(153, 150, 150, 0.089);
    padding: 25px;
    margin-top: 20px;
    border: 1px solid rgba(128, 128, 128, 0.507);
    border-radius: 50px;
    box-shadow:  5px 10px #a1a0a0;
    width: 550px;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: 10px;
}

.imgProfile {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    grid-column: 2/4;

}

.nameprofile {
    grid-column: 4/7;
    justify-self: center;
    align-self: center;
}

.descripProfile {
    grid-row: 2;
    grid-column: 1/8;
    justify-self: center;
    align-self: center;
    color: rgb(117, 113, 113);
}